.header {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.logo {
  align-items: center;
  display: flex;
  font-size: 1rem;
  gap: 30px;
  height: 6rem;
  text-decoration: none;
}

.logo img {
  height: 100%;
}

.logo h1 {
  color: var(--color-white-1);
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.navbar {
  align-items: center;
  display: flex;
  list-style-type: none;
  gap: 3rem;
}

.navbarLink {
  color: var(--color-white-1);
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
}