.content {
  color: var(--color-white-1);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-block: 5rem;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header-title {
  font-size: 2.5rem;
}

.header-text, 
.perks-content {
  font-size: 1.2rem;
}

.highlight {
  background: linear-gradient(90deg, #f9572a, #ff8a05);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.perks-list-item {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.perks-content {
  font-weight: bold;
}