.popup-background {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.popup-wrapper {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  width: 100%;
}

.close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 45px;
}

.close-button img {
  transition: 0.2s;
  width: 100%;
}

.close-button img:hover {
  opacity: 50%;
}

.popup {
  align-items: center;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.popup-text {
  font-size: 1rem;
}