@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&family=Montserrat:wght@400;700&display=swap');

:root {
  --color-white-1: #ddd6cb;
  --color-primary-1: #ff9b05;
  --color-primary-2: #f9b241;
  --color-primary-3: #6e6464;
  --color-grey-1: #13120f;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
}

body {
  margin: 0;
  background: radial-gradient(#282c34, #282c34);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header-background {
  position: absolute;
  width: 100%;
  height: 320px;
  top: 0;
  left: 0;
  z-index: -1;
}

svg {
  display: block;
  width: 100%;
  height: auto;
}

.not-found,
.error {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  height: 100%;
  justify-content: center;
  text-align: center;
}

.not-found h1,
.error h1 {
  font-size: 2.5rem;
  margin: 0px;
  font-weight: 900;
  color: #262626;
  text-transform: uppercase;
  background: linear-gradient(90deg, #f9572a, #ffc905);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: center;
  font-family: 'Montserrat', sans-serif;
}

.not-found p,
.error p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #ddd8d8;
}

.horizontal-spacing {
  padding: 2rem 6rem;
}

@media (max-width: 1060px) {
  .horizontal-spacing {
    padding: 2rem 2rem;
  }
}