.field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.field-label {
  color: var(--color-white-1);
  font-weight: bold;
  text-transform: uppercase;
}

.field {
  border: 1px solid var(--color-grey-3);
  background-color: var(--color-grey-2);
  color: var(--color-white-1);
  height: 2rem;
}

.field-label,
.field {
  font-size: 1rem;
  width: 100%;
}

.field:focus,
.field:active {
  outline: 2px solid var(--color-primary-1);
}