.form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  max-width: 50rem;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header-title,
.header-description {
  color: var(--color-white-1);
}

.header-title {
  font-size: 2.5rem;
}

.header-description {
  font-size: 1.2rem;
}

.highlight {
  background: linear-gradient(90deg, #f9572a, #ff8a05);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.field-row {
  display: flex;
  gap: 1rem;
}

.submit-button {
  align-self: flex-end;
  background: linear-gradient(90deg, #f9572a, #ff9b05);
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border: 0;
  color: var(--color-white-1);
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.6rem 1.5rem;
  text-align: center;
}

.submit-button:hover,
.submit-button:focus {
  background: linear-gradient(90deg, #fd4715, #f9b241);
}

@media (max-width: 520px) {
  .field-row {
    flex-direction: column;
    gap: 1.2rem;
  }

  .submit-button {
    align-self: stretch;
  }
}